.search-form {
  background-color: #fff;
}

.serach-form__fields-container {
  position: relative;
  display: flex;
  height: 100%;
  gap: 1.5rem;
  padding: 1rem 1.875rem 1.875rem;
  background: #5C87DB;
  border-radius: 15px 15px 0px 0px;
}

.serach-form__submit-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 14px rgba(112, 121, 153, 0.3);
  border-radius: 0px 0px 15px 15px;
  padding: 1.5rem 1.875rem;
}